{% extends 'accounts/base.html'%}

{% block title %} Login {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" class="form-group">
        <h3 class="mt-2">Login</h3>
        <hr class="mt-0 mb-4">
        {% csrf_token %}
        {{form|crispy}}
        {% for message in messages %}
            <p id="message">{{message}}</p>
        {% endfor %}
        <button type="submit", class="btn btn-success">Login</button>
        <p></p>
        <p>Don't have an account? Request an account <a href="/register">Here</a></p>
    </form>
{% endblock %}