{% extends 'accounts/base.html'%}

{% block title %}<h1 class="main-inventory-text2">Maintainer Login</h1>{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" class="form-group">

        {% csrf_token %}
        {{form|crispy}}
        {% for message in messages %}
            <p id="message">{{message}}</p>
        {% endfor %}
        <button type="submit", class="btn btn-success">Login</button>
        <p></p>
        <p>Don't have an account? Request an account <a href="/accountRequest">Here</a></p>
    </form>
{% endblock %}