{% extends 'request/base.html' %}

{% block title %} Requests {% endblock %}
{% block content %}
    <h3 class="mt-2">Hard Drive Requests</h3>
    <hr class="mt-0 mb-4">

    <form action="/request/newrequest/">
        <button class="btn btn-primary" type="submit">Create Request</button>
    </form>

    <form method="get">
        <label for="{{ form.eventLocation }}">Event Location:</label>

        {{filter.form.eventLocation}}
        <label for="{{ form.amount }}">Hard Drive Amount:</label>

        {{filter.form.amount}}
        <label for="{{ form.event_end_date }}">Event End Date:</label>

        {{filter.form.event_end_date}}
        <label for="{{ form.eventStatus }}">Event Status:</label>

        {{filter.form.eventStatus}}
        
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <form action="/request/requestlist">
        <button class="btn btn-primary" type="submit">Clear Filters</button>
    </form>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Request Number</th>
                <th>Event Name</th>
                <th>Event Location</th>
                <th>Request Creation Date</th>
                <th>Hard Drive Count</th>
                <th>Hard Drive Due Date</th>
                <th>Event Status</th>
                <th>Receipt Number</th>
            </tr>
        </thead>
    <tbody>
        {% for r in page_obj %}
        <tr>
            <td><a href='/request/requestlist/{{r.request_number }}'>MISSING</a></td>
            <td><a href='/request/viewrequest/{{r.request_number }}'>{{r.name}}</a></td>
            <td><a href='/request/viewrequest/{{r.request_number }}'>{{r.eventLocation}}</a></td>
            <td><a href='/request/viewrequest/{{r.request_number }}'>MISSING</a></td>
            <td><a href='/request/viewrequest/{{r.request_number }}'>{{r.amount}}</a></td>
            <td><a href='/request/viewrequest/{{r.request_number }}'>{{r.eventStatus}}</a></td>
            <td><a href='/request/viewrequest/{{r.request_number }}'>{{r.eventEndDate}}</a></td>
            <td><a href='/request/viewrequest/{{r.request_number }}'>MISSING</a></td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% if request is not None %}
    <p> Hello Test</p>
    <form action="/request/requestlist">
        <button class="btn btn-primary" type="submit">Close Request</button>
    </form>

    <form action="">
        <button class="btn btn-primary" type="submit">Request Extension</button>
    </form>
    <h1>Request # MISSING Details</h1>
    <p>Request Made: MISSING</p>
    <p>User ID: {{user}}</p>
    <p>Email: {{user.email}}</p>
    
    <p>Role: Team Lead or Requestor</p>
    <p>Requires: {{req.amount}} # of Hard Drives</p>
    <p>Additional Notes: {{req.comment}}</p>
    
    <p>Event # MISSING</p>
    <p>Event Name: {{req.name}} </p>
    <p>Event Location: {{req.eventLocation}} </p>
    <p>Event Type: {{req.type}}</p>
    <p>Event Starting Date: {{req.eventStartDate}}</p>
    <p>Event Ending Date: {{req.eventEndDate}} </p>
    <p>Classification of Event: {{req.classification}}</p>
    
    <p>Approved: </p>
    <p>By: </p>
    <p>User ID: </p>
    
    <p>Handed Out: MISSING </p>
    <p>By: </p>
    <p>User ID: </p>
{% endif %}
{% endblock %}
