{% extends 'request/base.html' %}

{% block title %} Requests {% endblock %}

{% block content %}
    <h3 class="mt-2">Hard Drive Requests</h3>
    <hr class="mt-0 mb-4">
    <table>
        <tr>
            <th>Request ID</th>
            <th>Event Name</th>
            <th>Classification</th>
            <th>Event Location</th>
            <th>Event Type</th>
            <th>Event Status</th>
            <th>Event Start Date</th>
        </tr>
        {% for r in reqlist %}
        <tr>
            <td>{{r.req_id}}</td>
            <td>{{r.name}}</td>
            <td>{{r.classification}}</td>
            <td>{{r.eventLocation}}</td>
            <td>{{r.eventType}}</td>
            <td>{{r.eventStatus}}</td>
            <td>{{r.eventStartDate}}</td>
        </tr>
        <hr class="mt-0 mb-4">

    {% endfor %}
    </table>
{% endblock %}