{% extends 'Inventory/base.html'%}
{% block content %}
<h3 class="mt-2">Inventory</h3>
<hr class="mt-0 mb-4">

<table class="table" width="device-width">
  <thead>
    <td> </td>
    <td>serialNo </td>
    <td>manufacturer </td>
    <td>modelNo </td>
    <td>hdType </td>
    <td>connPort </td>
    <td>hdSize </td>
    <td>hdClass </td>
    <td>hdStatus </td>
  </thead>
{% for item in harddrive %}
<tr>
  <td> Checkbox here </td>
  <td><a method="POST" href="{% url 'inv:updateHardDrive' item.serialNo %}">{{item.serialNo}}</a> </td>
  <td>{{item.manufacturer}}</td> 
  <td>{{item.modelNo}} </td>
  <td>{{item.hdType}}</td> 
  <td>{{item.connPort}}</td> 
  <td>{{item.hdSize}} </td>
  <td>{{item.hdClass}}</td>
  <td>{{item.hdStatus}}</td> 
</tr>
{% endfor%}
</table>
{% endblock content%}