{% extends 'Inventory/base.html'%}
{% include 'Inventory/views.py' %}

{% block title %}<h1 class="main-inventory-text2">Log</h1>{% endblock %}

{% block content %}
<div class="container-fluid">

  <div id="table_div" class="main-inventory-container16">
    <!-- <br> -->
    <table class="table table-hover" style="color: #cdd1d5;">
    <thead>
      <td>Timestamp</td>
      <td>User </td>
      <td>Action </td>
    </thead>
    {% for item in harddrive %}
    <tr>
      <td>{{item.creationDate}}</td> 
      <td>{{item.serialNo}} </td>
      <td>{{item.manufacturer}}</td> 
    </tr>
    {% endfor%}
  </table>
  <br>
  <h3 class="mt-2">Log Content</h3>
    <p> {{file_contents}} </p>
</div>
</div>
{% endblock content%}

{% block subtitle %}<h2 class="main-inventory-text3">Log Details</h2>{% endblock %}
{% block button %}<button class="main-inventory-navlink1 button" type="submit">Print</button>{% endblock %}