{% extends 'Inventory/base.html'%}
{% block content %}

<div class="container-fluid">
  <h3 class="mt-2">Inventory</h3>
  <input id="inventoryInput" class="form-control" type="text" placeholder="Search..">
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><input type="checkbox" onclick="checkBoxToggle(this)"></th>
        <th scope ="col">serialNo </th>
        <th scope ="col">manufacturer </th>
        <th scope ="col">modelNo </th>
        <th scope ="col">hdType </th>
        <th scope ="col">connPort </th>
        <th scope ="col">hdSize </th>
        <th scope ="col">hdClass </th>
        <th scope ="col">hdStatus </th>
      </tr>
    </thead>
    {% for item in harddrive %}
    <tbody id="inventoryTable">  
      <tr>
        <th><input type="checkbox" name="check"></th>
        <td><a href="{% url 'Inventory:updateHardDrive' item.serialNo %}"> {{item.serialNo}} </a></td>
        <td>{{item.manufacturer}}</td> 
        <td>{{item.modelNo}} </td>
        <td>{{item.hdType}}</td> 
        <td>{{item.connPort}}</td> 
        <td>{{item.hdSize}} </td>
        <td>{{item.hdClass}}</td>
        <td>{{item.hdStatus}}</td> 
      </tr>
    </tbody>
    {% endfor%}
  </table>

  <form method="get" action="{% url 'Inventory:addHardDrive' %}">
    <button class="btn btn-primary" type="submit">Add Hard Drive</button>
  </form>

  <script>
    $(document).ready(function(){
      $("#inventoryInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#inventoryTable tr").filter(function() {
          $(this).toggle( $(this).text().toLowerCase().indexOf(value) > -1 );
        });
      });
    });
</script>

<script lang="JavaScript">
  function checkBoxToggle(header){
    cbs = document.getElementsByName("check");
    for(var i=0, n=cbs.length; i<n; i++) {
      cbs[i].checked = header.checked;
    }
  }
</script>
</div>
{% endblock content%}

